<!-- start menubar -->
<div class="nav-float">
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav">
        <div class="col-md-3">
          <li><%= link_to 'HOME', root_path, class: "text-dark"%></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'PROJECTS', pages_projects_path, class: "text-dark"%></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'CONTACT', pages_contact_path, class: "text-dark"%></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'FUN', pages_fun_path, class: "text-dark active"%></li>
        </div>
      </ul>
    </div>
  </div>
</div>
<!--end menu bar-->

<!-- start projects -->
<div class="container grey-bg">
  <div class="row project-section">
    <h2 class="section-header">fun</h2>
  </div>
</div>

<div class="container white-bg">
  <div class="row project-section">
    <img src="<%= asset_path 'pnaportfolio.png' %>" class="zappar" alt="">
    <div class="col-xs-12"><p>Download the Zappar app below to use</p></div>
    <div class="col-md-1 col-md-offset-5"><a href="https://itunes.apple.com/au/app/zappar/id429885268?mt=8" target="_blank"><i class="fa fa-apple fa-5x text-dark"></i></a>
    </div>
    <div class="col-md-1"><a href="https://play.google.com/store/apps/details?id=com.zappar.Zappar&hl=en" target="_blank"><i class="fa fa-android fa-5x text-dark"></i></a>
  </div>
  </div>
</div>
<!-- end projects -->
