<!-- start menubar -->
<div class="nav-float">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav navbar-nav">
          <div class="col-md-3 text-white">
            <li><%= link_to 'HOME', root_path %></li>
          </div>
          <div class="col-md-3">
            <li><%= link_to 'PROJECTS', pages_projects_path %></li>
          </div>
          <div class="col-md-3">
            <li><%= link_to 'CONTACT', pages_contact_path %></li>
          </div>
          <div class="col-md-3">
            <li><%= link_to 'FUN', pages_fun_path %></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--end menu bar-->

<!-- start banner -->
<header class="dark-bg">
  <div class="row banner-style">
    <div class="banner-margin">
      <div class="col-md-6 align-right align-middle banner-text">
        <h1>PNA</h1>
        <p class="banner-para-style"> hey <br /> please hire me</p>
      </div>
    <div class="red-line"></div>
      <div class="col-md-6 align-left align-middle banner-text web-dev-text">
        <h2>Web Developer</h2>
        <p class="banner-para-style">Junior, very junior. <br /> I'm a good learner though</p>
      </div>
    </div>
  </div>
</header>
<!-- end banner -->

<!-- start bio -->
<div class="container white-bg">
  <div class="row section-style" >
    <div class="col-md-12">
      <img src="<%= asset_path 'photo.png'%>" alt="" class="photo">
      <h3 class="section-header">PATRICK NOBLE ABADILLA</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
<!-- end bio -->

<!-- start skills -->
<div class="container grey-bg">
  <div class="row section-style">
    <div class="row">
      <div class="col-xs-12"><h2>Skills</h2></div>
      <div class="col-xs-12 col-md-4">
        <i class="fa devicon-html5-plain skills-icon"></i>
        <p class="text-dark">html5</p>
      </div>
      <div class="col-xs-12 col-md-4 ">
        <i class="fa devicon-css3-plain skills-icon"></i>
        <p class="text-dark">css3</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <i class="fa devicon-bootstrap-plain skills-icon"></i>
        <p class="text-dark">bootstrap</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <i class="fa devicon-sass-plain skills-icon"></i>
        <p class="text-dark">sass</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <i class="fa devicon-ruby-plain skills-icon"></i>
        <p class="text-dark">ruby</p>
      </div>
      <div class="col-xs-12 col-md-4 ">
        <i class="fa devicon-rails-plain skills-icon"></i>
        <p class="text-dark">rails</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <i class="fa devicon-javascript-plain skills-icon"></i>
        <p class="text-dark">javascript</p>
      </div>
      <div class="col-xs-12 col-md-4 ">
        <i class="fa devicon-react-original skills-icon"></i>
        <p class="text-dark">react</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <i class="fa devicon-photoshop-plain skills-icon"></i>
        <p class="text-dark">photoshop</p>
      </div>
    </div>
  </div>
</div>
<!-- end skills -->
<!-- start projects -->
<div class="container white-bg">
  <div class="row project-section">
    <h2 class="section-header">Projects</h2>
    <a href="#">
      <div class="col-xs-12 col-md-4 project-box project-orange">

      <img src="<%= asset_path 'moon.svg'%>" alt="" class="project-image">
      <h4>Grav</h4>
      <i class="fa devicon-html5-plain project-sub-text"></i>
      <i class="fa devicon-css3-plain project-sub-text"></i>
      <i class="fa devicon-bootstrap-plain project-sub-text"></i>
      </div>
    </a>
    <a href="#">
      <div class="col-xs-12 col-md-4 project-box project-grav">
        <img src="<%= asset_path 'moon.svg'%>" alt="" class="project-image">
        <h4>Grav</h4>
        <i class="fa devicon-html5-plain project-sub-text"></i>
        <i class="fa devicon-css3-plain project-sub-text"></i>
        <i class="fa devicon-bootstrap-plain project-sub-text"></i>
      </div>
    </a>
    <a href="#">
      <div class="col-xs-12 col-md-4 project-box project-blue">
        <img src="<%= asset_path 'moon.svg'%>" alt="" class="project-image">
        <h4>Grav</h4>
        <i class="fa devicon-html5-plain project-sub-text"></i>
        <i class="fa devicon-css3-plain project-sub-text"></i>
        <i class="fa devicon-bootstrap-plain project-sub-text"></i>
      </div>
    </a>
    <div class="col-xs-12"><a href="/pages/projects"><button type="submit" class="btn btn-primary">View More</button></a></div>
  </div>
</div>
<!-- end projects -->

<!-- start hire-me -->
<a href="#">
  <div class="container hire-style ">
    <div class="row small-section-style">
      <h3>Interested in my work?</h3>
      <h2>CONTACT ME</h2>
    </div>
  </div>
</a>
<!-- end hire-me -->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
