<!-- start menubar -->
<div class="nav-float">
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav">
        <div class="col-md-3">
          <li><%= link_to 'HOME', root_path, class: "text-white"%></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'PROJECTS', pages_projects_path, class: "text-white"%></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'CONTACT', pages_contact_path, class: "text-white"%></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'FUN', pages_fun_path, class: "text-white active"%></li>
        </div>
      </ul>
    </div>
  </div>
</div>
<!--end menu bar-->
<!-- start projectheader -->
<div class="container project-grav">
  <div class="row project-section">
    <h2 class="section-header">GRAV</h2>
    <p>Bootcamp Project - Website Recreation</p>

  </div>
</div>
<!-- end project header -->
<!-- start project info -->
<div class="container white-bg">
  <div class="row project-section about-me">
    <div class="col-xs-12"><h2 class="section-header">About</h2></div>
    <div class="col-md-2 col-xs-12 col-md-offset-4">
      <p>Built on</p>
    </div>
    <div class="col-md-2 col-xs-12">
      <p>GitHub Page</p>
    </div>
    <div class="col-md-2 col-xs-12 col-md-offset-4">
      <i class="fa devicon-html5-plain project-page-icon"></i>
      <i class="fa devicon-css3-plain project-page-icon"></i>
      <i class="fa devicon-bootstrap-plain project-page-icon"></i>
    </div>
    <div class="col-md-2 col-xs-12">
      <a href="https://github.com/abazilla/CFA-Bootstrap-Project" class="text-dark" target="_blank"><i class="fa fa-github-alt project-page-icon "></i></a>
    </div>
    <div class="col-xs-12">
      <br />
      <p class="project-page-text">This project was completed during the Coder Factory Academy Bootcamp. The goal of the project was to recreate a website using our understanding of HTML, CSS and Bootstrap. The website that was copied in question can be found <a href="https://dribbble.com/shots/2291937-Grav" class="text-dark" target="_blank">here</a>.</p>
    </div>
    <br />
    <div class="col-xs-12"><br /><br /><img src="<%= asset_path 'grav-1.png'%>" alt="" class="project-img"></div>
    <div class="col-xs-12"><br /><br /><img src="<%= asset_path 'grav-2.png'%>" alt="" class="project-img"></div>
    <div class="col-xs-12"><br /><br /><img src="<%= asset_path 'grav-3.png'%>" alt="" class="project-img"></div>
  </div>
</div>
<!-- end project info -->
<!-- start hire-me -->
<a href="/pages/contact">
  <div class="container hire-style">
    <div class="row small-section-style">
      <h3>Interested in my work?</h3>
      <h2>CONTACT ME</h2>
    </div>
  </div>
</a>
<!-- end hire-me -->
