<!-- start menubar -->
<%= render '/partials/nav_dark' %>
<!--end menu bar-->
<!-- start projectheader -->
<div class="container project-trentr">
  <div class="row project-section">
<img src="<%= asset_path 'trentr.png'%>" alt="">
<p>Premiere Dating App</p>
  </div>
</div>
<!-- end project header -->
<!-- start project info -->
<div class="container white-bg">
  <div class="row project-section about-me">
    <div class="col-xs-12"><h2 class="section-header">About</h2></div>
    <div class="col-md-2 col-xs-12 col-md-offset-4">
      <p>Built on</p>
      <i class="fa devicon-ruby-plain project-page-icon"></i>
      <i class="fa devicon-photoshop-plain project-page-icon"></i>
    </div>
    <div class="col-md-2 col-xs-12">
      <p>GitHub Page</p>
      <a href="https://github.com/abazilla/CFA-Group-Project" target="_blank" class="text-dark"><i class="fa fa-github-alt project-page-icon "></i></a>
    </div>
    <div class="col-xs-12">
      <br />
      <p class="project-page-text">This project was completed during the Coder Factory Academy Bootcamp. This is a group project assigned to teach and use various techniques learned in Ruby, and the aim of the project was to create a project to surprise one of our teachers named Trent. My other colleagues involved in this project are <a href="https://github.com/arapl3y" class="text-dark">arapl3y</a>, <a href="https://github.com/shadolee" class="text-dark">shadolee</a> & <a href="https://github.com/danmartin99" class="text-dark">danmartin99</a> </p>

      <p class="project-page-text">The program allows you to input your name, and make various decisions based on the info given. The prominent feature used was the gem catpix, which allowed us to print images onto the screen. Tests were also created on the various classes used as part of the project requrements.</p>
    </div>
    <br />
    <div class="col-xs-12"><br /><br /><img src="<%= asset_path 'trentr-1.png'%>" alt="" class="project-img"></div>
    <div class="col-xs-12"><br /><br /><img src="<%= asset_path 'trentr-2.png'%>" alt="" class="project-img"></div>
    <div class="col-xs-12"><br /><br /><img src="<%= asset_path 'trentr-3.png'%>" alt="" class="project-img"></div>
  </div>
</div>
<!-- end project info -->
<!-- start hire-me -->
<a href="/pages/contact">
<div class="container hire-style">
  <div class="row small-section-style">
    <h3>Interested in my work?</h3>
    <h2>CONTACT ME</h2>
  </div>
</div>
</a>
<!-- end hire-me -->
