<!-- start menubar -->
<div class="nav-float">
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav">
        <div class="col-md-3">
          <li><%= link_to 'HOME', root_path, class: "text-white"%></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'PROJECTS', pages_projects_path, class: "text-white"%></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'CONTACT', pages_contact_path, class: "text-white"%></li>
        </div>
        <div class="col-md-3">
          <li><%= link_to 'FUN', pages_fun_path, class: "text-white active"%></li>
        </div>
      </ul>
    </div>
  </div>
</div>
<!--end menu bar-->
<!-- start projectheader -->
<div class="container project-poke">
  <div class="row project-section">
    <h2 class="section-header">Pokemon</h2>
    <p>Terminal Text Version</p>

  </div>
</div>
<!-- end project header -->
<!-- start project info -->
<div class="container white-bg">
  <div class="row project-section about-me">
    <div class="col-xs-12"><h2 class="section-header">About</h2></div>
    <div class="col-md-2 col-xs-12 col-md-offset-4">
      <p>Built on</p>
      <i class="fa devicon-ruby-plain project-page-icon"></i>
    </div>
    <div class="col-md-2 col-xs-12">
      <p>GitHub Page</p>
      <a href="https://github.com/abazilla/Pokemon_game" class="text-dark" target="_blank"><i class="fa fa-github-alt project-page-icon "></i></a>
    </div>
    <div class="col-xs-12">
      <br />
      <p class="project-page-text">This project was started during the Coder Factory Academy Bootcamp. This is a personal project of mine to further my understanding of the various techniques learned in Ruby. It uses the world and mechanics of the popular franchise Pokemon, in which monsters named Pokemon battle together.</p>

      <p class="project-page-text">The application currently features only single player control (no AI) and limited Pokemon, however there are some features included that replicate the battle system in the actual games. This includes critical hits, moves/pokemon with "Types", dealing increased damage based on Type, and more. Notable gems used with this program are terminal-table, and Paint. </p>
    </div>
    <br />
    <div class="col-xs-12"><br /><br /><img src="<%= asset_path 'poke-1.png'%>" alt="" class="project-img"></div>
    <div class="col-xs-12"><br /><br /><img src="<%= asset_path 'poke-2.png'%>" alt="" class="project-img"></div>
    <div class="col-xs-12"><br /><br /><img src="<%= asset_path 'poke-3.png'%>" alt="" class="project-img"></div>
  </div>
</div>
<!-- end project info -->

<!-- start hire-me -->
<a href="/pages/contact">
<div class="container hire-style">
  <div class="row small-section-style">
    <h3>Interested in my work?</h3>
    <h2>CONTACT ME</h2>
  </div>
</div>
</a>
<!-- end hire-me -->
