<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
    <script src="https://use.fontawesome.com/9097c39520.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

<body>

  <%= yield %>
  <%= render '/partials/footer' %>
  <!-- <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script> -->
</body>
</html>
